html{
    background-image: linear-gradient(1000deg,orange,rgb(5, 255, 255));
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    color: white;
}
h5{
    text-align: center;
    color: white;
}
nav{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
a{
    text-align: center;
    text-decoration: none;
    background-color: #00ecfdfd;
    color: white;
    padding: 8px;
    border-radius: 7px;
    margin-left: 640px;
}
img{
    margin-left:530px ;
}
